// $hot-color: #e6dfd7;
$white-color: #ffffff;
$dark-color: #333333;
$darkLight-color: #414141;
$light-color: #FCFCFC;
$primary-color: #EA5548;
$secondary-color: #ACACAC;
$secondaryLight-color: #EAEAEA;
$secondaryDark-color: #6E6E6E;
$success-color: #316901;
$muted-color: #ACACAC;

$font-size-xxl: 40px;
$font-size-xl: 24px;
$font-size-x: 20px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 10px;

$letter-space-x: 2px;
$letter-space-m: 1px;
$letter-space-s: 0.5px;
